[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
tqdm = "*"
scikit-learn = "*"
jaxlib = ">=0.3.14"
jax = ">=0.3.14"
scprep = "*"

[dev-packages]

[requires]
python_version = "3.8"
